<a href="https://colab.research.google.com/github/Vishnuanand77/DataAnalyticsProjects/blob/master/WeatherAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Analysis using weather dataset


---


This data set is a time series data set with per hour information about weather conditions at a particular location.

Its attributes are : Temperature, Dew Point Temperature, Relative Humidity, Wind Speed, Visibility, Pressure and Conditions.

In [1]:
import pandas as pd

In [ ]:
data = pd.read_csv("/content/Weather_data/weather_data.csv")
data

Commands for exploring data :
1. head() : Shows the first N number of rows. Default N = 5
2. shape : Used to show total number of rows and columns of the data frame
3. index : Provides the index range of the dataframe
4. columns : Shows column names
5. dtypes() : Shows datatypes of each column
6. unique() : Shows all unique values in a column
7. nununique() : Shows the total number of unique values in each column
8. count : Shows total number of non null values in each column
9. value_counts : Shows unique values in a column with their count
10. info() : Gives basic information about the dataframe

In [28]:
data.head()

       Date/Time  Temp_C  ...  Press_kPa               Weather
0  1/1/2012 0:00    -1.8  ...     101.24                   Fog
1  1/1/2012 1:00    -1.8  ...     101.24                   Fog
2  1/1/2012 2:00    -1.8  ...     101.26  Freezing Drizzle,Fog
3  1/1/2012 3:00    -1.5  ...     101.27  Freezing Drizzle,Fog
4  1/1/2012 4:00    -1.5  ...     101.23                   Fog

[5 rows x 8 columns]

In [16]:
data.shape

(8784, 8)

In [17]:
data.index

RangeIndex(start=0, stop=8784, step=1)

In [18]:
data.columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather'],
      dtype='object')

In [19]:
data.dtypes

Date/Time            object
Temp_C              float64
Dew Point Temp_C    float64
Rel Hum_%             int64
Wind Speed_km/h       int64
Visibility_km       float64
Press_kPa           float64
Weather              object
dtype: object



---
**Some basic Questions to get Acclamatized with the commands**


---

Q1. Find all the unique Wind Speed values

In [25]:
data['Wind Speed_km/h'].nunique() # To find the number of uniquq values

34

In [27]:
data['Wind Speed_km/h'].unique()

array([ 4,  7,  6,  9, 15, 13, 20, 22, 19, 24, 30, 35, 39, 32, 33, 26, 44,
       43, 48, 37, 28, 17, 11,  0, 83, 70, 57, 46, 41, 52, 50, 63, 54,  2])

Q2. Find the number of times when the weather was exactly clear

In [ ]:
# Method 1 : Using value counts
data.Weather.value_counts()

In [ ]:
# Method 3 : Using groupby()
data.groupby('Weather').get_group('Clear')

In [ ]:
# Method 2 : Filtering
data[data.Weather == 'Clear']

Q3. Find the number of times when the wind speed was exactly 4kmph

In [33]:
data[data['Wind Speed_km/h'] == 4]

             Date/Time  Temp_C  ...  Press_kPa       Weather
0        1/1/2012 0:00    -1.8  ...     101.24           Fog
1        1/1/2012 1:00    -1.8  ...     101.24           Fog
96       1/5/2012 0:00    -8.8  ...     100.32          Snow
101      1/5/2012 5:00    -7.0  ...     100.19          Snow
146      1/7/2012 2:00    -8.1  ...     100.15        Cloudy
...                ...     ...  ...        ...           ...
8768   12/31/2012 8:00    -8.6  ...     101.14  Snow Showers
8769   12/31/2012 9:00    -8.1  ...     101.09          Snow
8770  12/31/2012 10:00    -7.4  ...     101.05      Snow,Fog
8772  12/31/2012 12:00    -5.8  ...     100.78          Snow
8773  12/31/2012 13:00    -4.6  ...     100.63          Snow

[474 rows x 8 columns]

Q4. Find out null values in the data

In [39]:
data.isnull().sum()

Date/Time           8784
Temp_C              8784
Dew Point Temp_C    8784
Rel Hum_%           8784
Wind Speed_km/h     8784
Visibility_km       8784
Press_kPa           8784
Weather             8784
dtype: int64

Q5. What is the mean Visibility

In [40]:
data['Visibility_km'].mean()

27.66444672131151

Q6. What is the Standard Deviation of Pressure?


---
SD is the measure of how dispersed the data is in relation to the mean

In [42]:
data['Press_kPa'].std()

0.8440047459486474

Q7. What is the variance of relative humidity

In [43]:
data['Rel Hum_%'].var()

286.2485501984998

Q8. Find all the intances when snow was recorded

In [ ]:
data[data['Weather'] == 'Snow']

In [45]:
# Method 2 using str.contains : Records partial matches too
data[data['Weather'].str.contains('Snow')]

             Date/Time  Temp_C  ...  Press_kPa       Weather
41      1/2/2012 17:00    -2.1  ...      99.66  Snow Showers
44      1/2/2012 20:00    -5.6  ...     100.07  Snow Showers
45      1/2/2012 21:00    -5.8  ...     100.15  Snow Showers
47      1/2/2012 23:00    -7.4  ...     100.27  Snow Showers
48       1/3/2012 0:00    -9.0  ...     100.35  Snow Showers
...                ...     ...  ...        ...           ...
8779  12/31/2012 19:00     0.1  ...     100.13          Snow
8780  12/31/2012 20:00     0.2  ...     100.03          Snow
8781  12/31/2012 21:00    -0.5  ...      99.95          Snow
8782  12/31/2012 22:00    -0.2  ...      99.91          Snow
8783  12/31/2012 23:00     0.0  ...      99.89          Snow

[583 rows x 8 columns]